#location-container {
    padding-left: 30px;
    padding-right: 30px;
}

#item-container {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 600px;
}

#item-container > .list-container {
    height: 40vh;
    overflow-y: auto;
}

#add-container {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 350px;
}

.save-btn {
    font-size: 1.5em;
    display: inline-block;
    width: 250px;
}

#clear-list-button {
    width: 175px;
    margin-left: 15px;
}

.absolute-wrapper {
    position: relative;
    width: 100%;
} 