/* Color Palette https://coolors.co/palette/f0ead2-dde5b6-adc178-a98467-6c584c */

* {
    box-sizing: border-box;
}

body {
    /* background-image: url('../images/shopping-cart.svg'); */
    background-size: 100px 100px;
}

body, html {
    padding: 0px;
    margin: 0px;
    background-color: #F0EAD2;
    height: 100%;
}

.main-container {
    width: 100%;
}

.full-height {
    height: 100%;
}  

.full-width {
    width: 100%;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.p-0 {
    padding: 0px;
}

.m-0 {
    margin: 0px;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-start {
    display: flex;
    justify-content: flex-start;
}

.align-center {
    display: flex;
    align-items: center; 
}

.align-start {
    display: flex;
    align-items: flex-start;
} 

.inline-block {
    display: inline-block;
}

.btn {
    background-color: #ADC178;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: 0px;
    font-size: 1rem;
}

.btn.btn-sm {
    padding: 5px;
    font-size: 0.75rem;
}

.btn.btn-close {
    background-color: transparent;
    color: #ADC178;
    border: none;
}

.btn.btn-delete {
    background-color: #A98467;
}

.btn.btn-delete:hover {
    background-color: #6C584C;
}

.btn:hover {
    background-color: #DDE5B6;
}

.btn.btn-close:hover {
    background-color: transparent;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
    color: #6C584C;
}

html {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

.custom-input {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    background-color: white;
}

.custom-input-left {
    width: 90%;
    padding: 0.5rem;
    border: none;
    font-size: 1.5rem;
}

.custom-input-right {
    width: 10%;
    padding: 0.5rem;
}

.loader {
    border: 0.25rem solid #ADC178;
    border-top: 0.25rem solid #DDE5B6;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: spin 0.5s linear infinite;
    margin-right: auto;
    margin-left: auto;
}

.chevron-right {
    height: 1.25rem;
    width: 1.25rem;
    border-top: 0.25rem solid #ADC178;
    border-right: 0.25rem solid #ADC178;
    transform: rotate(45deg);
}

.search-dropdown-item {
    display: inline-block;
    border-bottom: 0.25px solid #6C584C;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

.search-dropdown-item:hover {
    background-color: #DDE5B6;
    cursor: pointer;
}

.search-dropdown-item > * {
    pointer-events: none;
}

.search-dropdown-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-height: 250px;
    overflow-y: auto;
    width: inherit;
    background-color: white;
    z-index: 100;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.pad-x {
    padding-left: 10px;
    padding-right: 10px;
}

.thumbnail-container {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid #ADC178;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.no-pointer-events {
    pointer-events: none;
}

.hidden {
    display: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #6C584C;
}

.light {
    color: #F0EAD2;
}